<app-small-cart></app-small-cart>
<table>
  <thead>
  <tr>
    <th colspan="2">Titre</th>
    <th>Auteur</th>
    <th>Prix unitaire HT</th>
    <th>Note</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books$ | async; trackBy: getBbookId; odd as isOdd" [class.odd]="isOdd" >
    <td><a [routerLink]="routeUrlService.getCatalogBook(book)"><img [src]="book.image" [title]="book.title"></a></td>
    <td><a [routerLink]="routeUrlService.getCatalogBook(book)">{{book.title | uppercase}}</a></td>
    <td>{{book.author}}</td>
    <td class="right">{{book.price | currency:'EUR'}}</td>
    <td class="right"><app-rating [(value)]="book.rating"></app-rating>
    </td>
    <td><app-buy-button [item]="book"></app-buy-button></td>
  </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>
